

figure {
    text-align: center;
}

figure.zitat {
    color: orange;
    margin: 2rem;
    text-align: left;
}

figcaption {
    width: 70%;
    margin-top: 1rem;
}

table {
    width: 70%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

tr, th {
    margin: 2rem;
}

th {
    background-color: orange;
}

form {
    margin: 0 auto;
}

